@charset "UTF-8"

/* em HTML é id em CSS é # (só pode um elemento)
   em HTML é class em CSS é . (pode vários elementos)*/

body{
    background-color: aquamarine;
    font-family: sans-serif;
}

h1{
    color:  rgb(92, 179, 150)
}

#principal{
    text-align: center;
    background-color: blue;
}

.basico{
    color: chartreuse;
}

.intermediario{
    color: darkgoldenrod;
}

.avancado{
    color: darkred;
}

h2{
    color:  rgb(50, 100, 83)
}